@using PharmacyApp.Constants

@{
    ViewBag.Title = "Page Not Found";
    ViewBag.Description = "Sorry, but the page you were looking for can't be found.";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-7">
        <h2 class="text-uppercase">@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.RouteUrl(AccountControllerRoute.GetLogin)">Home</a>
            </li>
            <li class="active">
                <a href="#">@ViewBag.Title</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@ViewBag.Title</h5>
                </div>
                <div class="ibox-content">
                    <div class="jumbotron text-center">
                        <header>
                            <h1><span aria-hidden="true" class="fa fa-exclamation-circle text-danger"></span> @ViewBag.Title</h1>
                        </header>
                        <p>@ViewBag.Description</p>
                        <a class="btn btn-primary btn-lg" href="@Url.RouteUrl(AccountControllerRoute.GetLogin)"><span aria-hidden="true" class="fa fa-home"></span> Take me home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

